/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

.project-image{
  width:600px;
  height:400px;
  cursor: pointer;
  position: absolute;
  transition: transform 0.5s ease;

}
.home-page, .my-projects{
  height:600px;
}
 .about-me-info{
  height:650px;

 }
.project-list{
  width:600px;
  height:400px;
  overflow: hidden; 
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.project-image:hover{
  transform: scale(1.1);
}
.overlay{
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  text-align: center;
  height: 0;
  transition: height 0.5s ease;
}

div:hover .overlay{
  height: 50px;
}
.languages-overlay{
  background-color: rgb(18, 142, 151);
  border-radius: 10px;
  display: inline-block;
  margin:10px;
  padding-left: 5px;
  padding-right: 5px;
}
.home-image{
  border-radius: 10%;
  float:right;
 
  margin-top: 110px;
  width:500px;
  box-shadow: -2px 15px 29px 6px rgba(0,0,0,0.5);;
}
.home-background{
  position: relative;
  width: 90%;
  padding:0px 50px 10px 50px;
  background-color: #f2f2f2;
}
.top-page{
  float: left;
  width:50%;
  padding-left: 100px;
  padding-top: 40px;
}
/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;


}
.top-page h3 {
  color:#3c314a;
  font-weight: bold;
}
h3 span {
  text-decoration: underline;
  text-decoration-color: #13A490;
}
.top-page h2{
  margin:20px 1px 20px 1px;
  font-size: 50px;
  color:#3c314a;
  font-weight: bold;
  
}
.education{
  margin-top:50px;
}
.education-list > li{
  margin-bottom: 40px;
  list-style: none;
}
.education-list > li > ul > li{

  list-style: none;
}
.education-list > li > ul li::before {
  content: "▒";
  display: inline-block; 
}
.under-line-list{
 width:70%;
 height: 2px;
 border-radius: 10px;
 background: linear-gradient(90deg, rgba(198,78,70,0.7) 0%, rgba(0,212,255,0.7) 63%, rgba(141,139,165,1) 95%);
}
.education-list > li a{
color:#d34339;
background: linear-gradient(90deg, rgba(198,78,70,0.3) 0%, rgba(198,78,70,0.3) 95%);

background-position: 0 100%;
background-repeat: repeat-x;
background-size: 4px 3px;
color: #000;
text-decoration: none;
transition: background-size .2s;
}
.education-list > li a:hover {
background-size: 5px 50px;
}
h2{
  color:#57476b;
  margin:20px 1px 20px 1px;
  font-size: 50px;
  font-weight: bold;
}
h4{
  margin:20px 1px 10px 1px;
  font-size: 20px;
  color:#c64e46;
}
.about{
  text-align: left;
}
.about-paragraph{
  width:50%;
  padding-left: 10px;
}
.about-image{

height: 300px;
width: 400px;

}
.about{
display: flex;
justify-content: center;
}
.skills{
  text-align: center;
  height: 300px;
  background-color: #5b5a77;
  box-shadow: -2px 4px 5px 3px rgba(0,0,0,0.2);
}
.skills h2{
  color:#f2f2f2;
  padding-bottom: 50px;
}
.projects-head{
  text-align: center;
  padding-bottom: 10px;
}
.skills-list{
display:flex;
justify-content: space-around;
margin-left: 0px;}

.skills-list li{
font-size: 18px;  
list-style-type: none;
color: #f2f2f2;
}
h3{
  font-size: 40px;
   color:gray;
}
p{
  letter-spacing: 1px;
  color:gray;

}
ul li{
  margin: 10px 10px;
}
/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(100% - (70px * 2));
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
